* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.project-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  background: rgb(110, 220, 110);
  color: #fff;
 
}

.project-menu a {
  text-decoration: none;
  transition: all 0.4s;
}

.project-menu a:hover {
  color: rgb(226, 122, 43);
  
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*----------------> My Projects Styles <----------------- */

